.popup-container {
    position: fixed;
    left: 10%;
    top: 2.5%;
    z-index: 1000000;
    width: 80%;
}

/* Success Popup*/
.success-popup {
    background-color: #DFF2BF;
    width: 100%;
    padding-top: 0.25%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
    border-radius: 8px;
    z-index: 1000002;
}

    .success-popup h4 {
        color: #4F8A10;
        display: inline;
        text-align: left;
        font-size: 20px;
        margin-right: 1rem;
    }

    .success-popup .popup-clear-btn {
        display: block;
        margin-left: 98%;
        margin-right: 2%;
        padding: 0;
        height: 10px;
        font-size: 12px;
        color: #4F8A10;
        background-color: #DFF2BF;
    }


/* Error Popup */
.error-popup {
    background-color: #FFD2D2;
    width: 100%;
    padding-top: 0.25%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
    border-radius: 8px;
    z-index: 1000002;
}

    .error-popup h4 {
        color: #D8000C;
        display: inline;
        text-align: left;
        font-size: 20px;
        margin-right: 1rem;
    }

    .error-popup a {
        display: inline;
        font-size: 20px;
    }

    .error-popup button {
        padding: 0;
        padding-left: 1rem;
        border-radius: 0;
        background-color: #FFD2D2;
        -webkit-transition: none;
        transition: none;
        color: none;
        line-height: 21px;
        text-decoration: none;
        color: #D8000C;
        display: inline;
        text-align: left;
        font-size: 18px;
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .error-popup .popup-clear-btn {
        display: block;
        margin-left: 98%;
        margin-right: 2%;
        padding: 0;
        height: 10px;
        font-size: 12px;
        color: #D8000C;
        background-color: #FFD2D2;
    }

/* Form Popup */
.form-popup {
    display: none;
    position: fixed;
    width: 40%;
    height: 60%;
    top: 15%;
    left: 30%;
    z-index: 100001;
}

.form-container {
    max-width: 100%;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 7.5px;
    border: 3px solid #e1e1e1
}

    .form-container input[type=number] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

    .form-container input[type=number]:focus {
        background-color: #ddd;
        outline: none;
    }

    .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    .form-container .cancel {
        background-color: red;
    }

    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }

/*Add Bank Account Popup*/
.add-bank-account-popup {
    background-color: #BDE5F8;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
    border-radius: 8px;
    z-index: 1000002;
}

    .add-bank-account-popup h4 {
        color: #00529B;
        display: inline;
        text-align: left;
        font-size: 21px;
        margin-right: 1rem;
    }

    .add-bank-account-popup a {
        display: inline;
        font-size: 20px;
    }
