{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('.static', filename='content/StyleSheet1.css') }}" />

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<!--Basket Selection Div-->
<div></div>

<!--Tax Loss Harvesting Div-->
<div></div>

<p><a href=" {{ url_for('dashboard.testscripts') }} " class="btn btn-primary btn-large">TEST STUFFS &raquo;</a></p>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h4 class="error-popup">{{ message }}</h4>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}
